
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>
<p>Name: Firstname & Aftername</p>
<p>address: Street and City</p>
<p>Study at : Lexicon</p>
<p>Jobb: Dreamjob</p>
<dl>
    <dt>email</dt>
    <dd>firstnamea.ftername@gmail.com</dd>
</dl>

