
@{
    ViewData["Title"] = "MathTable";
    //ViewBag.Title= "MathTable";  // älder sätt att skriva och inte 100% säkert. samma som ovan
}

<h1>Math Table</h1>

<table>
    @for (int y = 1; y <= 22; y++)
    {
        <tr>
            @for (int x = 1; x <= 22; x++)
            {
            <td> @(y*x) </td>
            }
        </tr>
    }

</table>